#!/usr/bin/make -f

export PATH := $(HOME)/.cargo/bin:$(PATH)

%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	install -d $(CURDIR)/debian/rustcast/usr/bin
	install -m 755 target/release/rustcast $(CURDIR)/debian/rustcast/usr/bin/rustcast